<h1>Articles#new</h1>
<p>Find me in app/views/articles/new.html.erb</p>

<h1><%= t(".newpost") %></h1>
<%= form_with model: @article do |f| %>
  <h4><%= t(".title") %></h4>
  <%= f.text_field :title %>
	
  <h4><%= t(".text") %></h4>
  <%= f.text_area :body %>
	
  <%= f.submit t(".submit") %>
<% end %>