<header>
  <div class="header-logo">
    <%= link_to "LearnLan", root_path %>
  </div>
  <ul class="header-language">
    <li><%= link_to 'English', root_path(locale: 'en') %></li>
    <li><%= link_to '日本語', root_path(locale: 'ja') %></li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2><%= t(".title") %></h2>
    <p></p>
  </div>
   <% if user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to t(".signup"), new_user_registration_path %>
      </li>
      <li>
        <%= link_to t(".login"), new_user_session_path %>
      </li>
    <% end %>
</div>